.layer-border-left {
    border-radius: 4px;
    height: 73px;
    width: 350px;
}

.innder-div-text {
    display: inherit;
    width: 250px;
}

.inner-div-number {
    display: inherit;
}

.inner-outer-div {
    font-size: 21px;
    padding-top: 24px;
    padding-left: 10px;
}