<form data-ng-submit="save()" class="noMargin" name="editTopXWidgetForm" data-ng-class="{'state-wait': processing }"
    novalidate>
    <div class="modal-header">
        <h3 class="modal-title col-md-9">Top X Edit View</h3>
        <button type="button" class="close" data-ng-click="cancel()" data-dismiss="modal" aria-label="Close"
            id="close-edit-widget-form-btn">
            <div aria-hidden="true" class="version-button">+</div>
        </button>
    </div>
    <div class="modal-body">
        <div class="form-group"
            data-ng-class="{ 'has-error': editTopXWidgetForm.title.$invalid && editTopXWidgetForm.title.$touched }">
            <label for="title" class="control-label">Title<span class="text-danger">*</span></label> <input id="title"
                name="title" type="text" data-ng-model="config.title" class="form-control" />
            <div data-cs-messages="editTopXWidgetForm.title"></div>
        </div>
        <div>
            <label for="moduleType" class="control-label">Select Data Source</label><span class="text-danger">*
                <span
                    data-uib-tooltip="Select the 'Record Containing JSON Data' option if all the records to be rendered are in a single record of a certain field of the module.
                'Count of Records Across Module' Dataset lets you select the module and it displays the count of records for the module based on the filters given"
                    data-tooltip-append-to-body="true"><i class="icon icon-information font-Size-13"></i></span>
            </span>
            <!-- Radio Button -->

            <div class="row margin-bottom-sm">
                <div class="col-md-6 padding-right-0">
                    <div class="radio">
                        <label><input id="JsonField" name="JsonField" type="radio" data-ng-model="config.moduleType"
                                data-ng-change="onChangeModuleType()" value="Single Module">&nbsp;&nbsp;Record
                            Containing JSON Data</label>
                        <span data-uib-tooltip="It allows you to select single record that contains a JSON object."
                            data-tooltip-append-to-body="true"><i class="icon icon-information font-Size-13"></i></span>
                    </div>
                    <div class="radio">
                        <label><input id="accrossModules" name="accrossModules" type="radio"
                                data-ng-model="config.moduleType" data-ng-change="onChangeModuleType()"
                                value="Across Modules">&nbsp;&nbsp;Count of Records Across Module</label>
                        <span data-uib-tooltip="It allows you to get live count." data-tooltip-append-to-body="true"><i
                                class="icon icon-information font-Size-13"></i></span>
                    </div>
                </div>
            </div>
            <!-- Radio Button End -->

            <div data-ng-if="config.moduleType !== undefined">
                <div id="modulesDropdown" class="form-group" data-ng-if="config.moduleType  === 'Across Modules' "
                    data-ng-class="{ 'has-error': editTopXWidgetForm.module.$invalid && editTopXWidgetForm.module.$touched }">
                    <label for="module" class="control-label">Select Module
                        <span class="text-danger">*</span>
                    </label>
                    <select name="module" id="module" class="form-control"
                        data-ng-options="module.type as module.name for module in modules" data-ng-model="config.module"
                        data-ng-change="onModuleChange()" required>
                        <option value="">Select an Option</option>
                    </select>
                </div>
                <div data-ng-if="config.moduleType === 'Single Module'">
                    <div class="form-group" data-ng-if="jsonObjModuleList"
                        data-ng-class="{ 'has-error': editFunnelWidgetForm.customModule.$invalid && editFunnelWidgetForm.customModule.$touched }">
                        <label for="customModule" class="control-label">Select Module
                            <span class="text-danger">*</span>
                        </label>
                        <span data-uib-tooltip="Select the Module which has JSON data"
                            data-tooltip-append-to-body="true"><i class="icon icon-information font-Size-13"></i></span>
                        <select name="customModule" id="customModule" class="form-control"
                            data-ng-options="module.type as module.name for module in jsonObjModuleList"
                            data-ng-model="config.module"
                            data-ng-change="onModuleChange()" required>
                            <option value="">Select an Option</option>
                        </select>
                    </div>
                </div>

                <div id="filterForModule" class="margin-top-md margin-bottom-md"
                    data-ng-if="config.module !== undefined">
                    <label data-ng-if="config.moduleType  == 'Across Modules'" class="control-label">Filter Record
                        <span class="text-danger">*</span>
                    </label>
                    <label data-ng-if="config.moduleType  == 'Single Module'" class="control-label">Filter Record Which
                        Contains Data
                        <span class="text-danger">*</span>
                    </label>
                    <div data-cs-conditional data-ng-if="config.fieldsArray.length > 0" data-fields="config.fields"
                        data-reset-field="config.fields" data-ng-model="config.query"
                        data-parent-form="editTopXWidgetForm"
                        data-enable-expression="(page==='dashboard' || page==='reporting')" data-show-uuid="true"
                        data-form-name="'editTopXWidgetForm'">
                    </div>
                </div>
                <div data-ng-if="config.moduleType  == 'Across Modules'">
                    <div id="displayPicklistOrLookup" data-ng-if="config.module !== undefined">
                        <label for="picklistOrLookup" class="control-label">Select Picklist or Lookup Field
                            <span class="text-danger">*</span>
                        </label>
                        <select name="picklistOrLookup" id="picklistOrLookup" class="form-control"
                            data-ng-options="picklist.name as picklist.title for picklist in config.picklistOrLookup"
                            data-ng-model="config.groupByPicklistOrLookup" required>
                            <option value="">Select an Option</option>
                        </select>
                    </div>
                </div>
                <div data-ng-if="config.moduleType  == 'Single Module'">
                    <div>
                        <div data-ng-if="config.module !== undefined">
                            <div id="customModuleFieldDiv">
                                <label class="control-label">Select field for data source
                                    <span class="text-danger">*</span>
                                </label>
                                <select class="form-control"
                                    data-ng-options="field.name as field.title for field in config.jsonFields"
                                    data-ng-model="config.customModuleField" required>
                                    <option value="">Select an Option</option>
                                </select>
                            </div>
                        </div>
                        <div id='customModuleJsonValue'>
                            <label for="customModuleValue" class="control-label">Enter the key of object to be
                                rendered.</label>
                            <input name="customModuleValue" id="customModuleValue" type="text"
                                data-ng-model="config.keyForCustomModule" class="form-control" />
                        </div>
                    </div>

                    <uib-accordion>
                        <div uib-accordion-group class="queue-card-wrapper panel-default padding-top-lg">
                            <uib-accordion-heading>
                                <div class="queue-card-header padding-left-md workspace-connector-metadata-container"
                                    ng-click="toggleArrow()" data-ng-class="{'queue-text-active-color': toggle">
                                    <div class="margin-right-lg pull-left"><span class="queue-card-actions">&nbsp;<i
                                                class="fa {{ toggle ? 'fa-chevron-down' : 'fa-chevron-right'}}"></i></span>
                                    </div>
                                    <div class="pull-left queue-card-header-text margin-right-3">Advanced Settings
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                            </uib-accordion-heading>
                            <div class="padding-bottom-md padding-left-lg padding-right-lg ">
                                <label for="broadcastEvent"
                                    class="font-size-12 mp-solutionpack-contents-card margin-top-md margin-right-md">Update
                                    content on receiving event</label>
                                <span
                                    data-uib-tooltip="Enable to broadcast an event, after enabling specify the event name foe the listener widget."
                                    data-tooltip-append-to-body="true"><i
                                        class="icon icon-information font-size-12"></i></span>
                                <label class="switch switch-pill switch-label switch-success padding-top-md">
                                    <input type="checkbox" class="switch-input" name="IncludeAll" id="IncludeAll"
                                        data-ng-model="config.broadcastEvent">
                                    <span class="switch-slider" data-checked="Yes" data-unchecked="No"></span>
                                </label>
                                <div data-ng-if="config.broadcastEvent">
                                    <div class="form-group"
                                        data-ng-class="{ 'has-error': editTopXWidgetForm.eventName.$invalid && editTopXWidgetForm.eventName.$touched }">
                                        <label for="eventName" class="control-label">Event Name<span
                                                class="text-danger">*</span></label>
                                        <span
                                            data-uib-tooltip="Enable to Listen to an event, after enabling specify the event name for the widget to listen."
                                            data-tooltip-append-to-body="true"><i
                                                class="icon icon-information font-Size-13"></i></span>
                                        <input id="eventName" name="eventName" type="text"
                                            data-ng-model="config.eventName" class="form-control" />
                                        <div data-cs-messages="editTopXWidgetForm.eventName"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </uib-accordion>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button id="edit-widget-save" type="submit" class="btn btn-sm btn-primary"><i
                class="icon icon-check margin-right-sm"></i>Save</button>
        <button id="edit-widget-cancel" type="button" class="btn btn-sm btn-default" data-ng-click="cancel()"><i
                class="icon icon-close margin-right-sm"></i>Close</button>
    </div>
</form>